<div class='container'>
    <footer class='footer'>
        <small>
            Copyrights &copy; <a href="#">The complete ruby on rails project</a>
            by Ali Waqar (Champion)
        </small>
        <ul>
            <li><%= link_to "About", about_path %>
        </ul>
    </footer>
</div>